<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Add to "Lophophore"</title>
     <link rel = "stylesheet" href="styles.css"/>
     <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
     <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
 </head>
 <body>
     <h2 align="center" font-size="20px;">Lophophore</h2>
     <div class=head>
       <hr class="head">
         <div class="cash">
             <button class="button" style="vertical-align:middle"><span>cashback </span></button>
         </div>
     </div>
        
  <form method="POST" align="center">
   <div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  <div><h3>1</h3></div>
  <div><h3>2</h3></div>
  <div><h3>3</h3></div>
  <div><h3>4</h3></div>
  <div><h3>5</h3></div>
  <div><h3>6</h3></div>
</div>

  </form> 
     <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
     
 </body>
</html>